body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    background-color: bisque;
}

header {
    background-color: rgb(255, 223, 184);
}

nav {
    background-color: rgb(197, 225, 237);
}

main {
    background-color: bisque;
    font-size: 16px;
}

footer {
    background-color: rgb(255, 255, 255);
}

li {
    display: inline-block;
}

h1 {
    color: #00F;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

Write a CSS rule to style the p tag to modify the line height property.  

p {
    line-height: 20px;
}